{% extends "accounts/main.html" %}
{% load static %}

{% block content %}

<div class="header">
    <h1 class="page_title">Events and Courses</h1>
    <div class="function_button"><img class="opacity35" src="{% static 'images/filters icon.png' %}" alt=""></div>
    <div class="function_button"><img class="opacity35" src="{% static 'images/filters icon.png' %}" alt=""></div>
</div>

<hr>

<div class="section_header">
    <h2>Recently created groups</h2>
    <a class="see_all" href="">See all</a>
</div>

<div class="event_course_thumbnail_section">
    <div class="event_course_thumbnail">
        <div class="event_pic"></div>
        <div class="event_info">
            <h3>Group Name</h3>
            <p class="opacity35">12 Members</p>
        </div>
    </div>

    <div class="event_course_thumbnail">
        <div class="event_pic"></div>
        <div class="event_info">
            <h3>Group Name</h3>
            <p class="opacity35">12 Members</p>
        </div>
    </div>

    <div class="event_course_thumbnail">
        <div class="event_pic"></div>
        <div class="event_info">
            <h3>Group Name</h3>
            <p class="opacity35">12 Members</p>
        </div>
    </div>
    
    <div class="event_course_thumbnail">
        <div class="event_pic"></div>
        <div class="event_info">
            <h3>Group Name</h3>
            <p class="opacity35">12 Members</p>
        </div>
    </div>

    <div class="event_course_thumbnail">
        <div class="event_pic"></div>
        <div class="event_info">
            <h3>Group Name</h3>
            <p class="opacity35">12 Members</p>
        </div>
    </div>

    <div class="event_course_thumbnail">
        <div class="event_pic"></div>
        <div class="event_info">
            <h3>Group Name</h3>
            <p class="opacity35">12 Members</p>
        </div>
    </div>
</div>

{% endblock content %}